# EditorConfig helps maintain consistent coding styles
# https://editorconfig.org

root = true

# Defaults for all files
[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

# YAML files
[*.{yml,yaml}]
indent_style = space
indent_size = 2

# Python files
[*.py]
indent_style = space
indent_size = 4

# Markdown files
[*.md]
trim_trailing_whitespace = false

# Shell scripts
[*.sh]
indent_style = space
indent_size = 2

# INI files
[*.ini]
indent_style = space
indent_size = 2

# Makefiles
[Makefile]
indent_style = tab

