---
- name: Prepare
  hosts: all
  become: true
  gather_facts: false

  tasks:
    - name: Update apt cache (Debian/Ubuntu)
      ansible.builtin.apt:
        update_cache: true
        cache_valid_time: 600
      when: ansible_facts.os_family == "Debian"

    - name: Install needs-restarting utility (RedHat)
      ansible.builtin.package:
        name: yum-utils
        state: present
      when: ansible_facts.os_family == "RedHat"
